.home-page {
  font-family: "Montserrat";
  display: flex;
  flex-direction: row;
  color: #fcfcfc;
}

.introduction-container {
  margin-top: 0;
  padding-top: 81px;
  padding-left: 225px;
  //   position: absolute;
}

.hello-heading {
  font-weight: lighter;
  font-size: 36px;
  margin: 0;
  margin-bottom: 32px;
}

.job-title {
  font-weight: bolder;
  font-size: 109px;

  margin: 0;
  line-height: 108px;
}

.what-i-like {
  margin-top: 45px;
  font-size: 25px;
  font-weight: lighter;
}

.home-btn {
  margin-top: 25px;
  //   padding: 36px 143px;
  width: 526px;
  height: 131px;
  margin-bottom: 0px;
  border: solid 2px #aed533;
  background-color: transparent;
  color: #fcfcfc;
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: bold;

  &:hover {
    color: #222223;
    background-color: #aed533;
    cursor: pointer;
  }

  &:active {
    background-color: #93b526;
  }
}

.image-container {
  margin-left: 315px;
}

.kaktusce {
  //   width: 645px;
  height: 845px;
  margin-top: -100px;
  padding-left: 100px;
}
