@import "../../styles/base";
@import "../../styles/media";

.logo-image {
  transition: transform 200ms;

  &:hover {
    transform: scale(1.1);
  }
}

.nav-bar-full {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 4;
}

.no-show {
  display: none;
}

.nav-btn {
  text-decoration: none;
  color: $white;

  &:hover {
    color: $green;
  }
}

.nav-btn-active {
  color: $green;
  border-bottom: 2px solid $green;
  padding-bottom: 17px;
  margin-top: 17px;
}

.mobile-images {
  position: fixed;
  z-index: 4;
  right: 1vw;
  top: 1vh;
}

@include media("<=phone") {
  .nav-bar-full {
    height: 110px;
    width: 86vw;

    justify-content: space-between;
    margin-left: 6vw;
    // padding-right: 10vw;
  }

  .logo-image {
    height: 55px;
  }

  .nav-btn {
    display: none;
  }

  .nav-btn-mobile {
    position: absolute;
    height: 26px;
    width: 26px;
    cursor: pointer;
    transition: transform 300ms;
    z-index: 2;
    right: 10vw;
    top: 5vh;

    &:hover {
      transform: scale(1.3);
    }
  }
}

@include media(">phone") {
  .nav-bar-full {
    width: 100vw;

    height: 188px;
    justify-content: space-evenly;
  }

  .ham-menu-overlay-container {
    display: none;
  }

  .nav-buttons-container {
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-btn {
    font-size: 1.2rem;
  }

  .mobile-images {
    display: none;
  }
}
