@import "../../styles/base";
@import "../../styles/media";

.nav-bar-full {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.nav-buttons-container {
}

.nav-btn {
  text-decoration: none;
  color: $white;

  &:hover {
    color: $green;
  }
}

@include media("<=phone") {
  .nav-bar-full {
    height: 90px;
  }

  .logo-image {
    height: 39px;
  }

  .nav-buttons-container {
  }

  .nav-btn {
    display: none;
  }
}

@include media(">=desktop") {
  .nav-bar-full {
    height: 188px;
    // padding-left: 10vw;
    // padding-right: 10vw;
  }

  .nav-buttons-container {
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
  }

  .nav-btn {
    font-size: 1.2rem;
  }
}
